NEXT_PUBLIC_SUPABASE_URL=https://ifdswvheacsdhksfugpe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmZHN3dmhlYWNzZGhrc2Z1Z3BlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYwNDM0NTUsImV4cCI6MjA4MTYxOTQ1NX0.gO2z8Bs5SY8ciqZg1lkxkZMgTJJYN8aGIBd98Q_Ws8E